{% extends "base.html" %}

{% block page_class %}Login Page{% endblock %}
{% block content %}
<div class="hero-unit">          
  <div id="loginBox" class="container">
  <div class="content">
      <div class="row">
        <div class="login-form">
          <h1> Welcome</h1>
          <form action="." method="post">{% csrf_token %}
            <fieldset>
              <div class="clearfix">
                <input type="text" name="username" value="" placeholder="E-mail">
              </div>
              <div class="clearfix">
                <input type="password" name="password" value="" placeholder="Password">
              </div>
              {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
              <input type="submit" name="submit" value="Submit" class="my-btn btn-large">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    </div>
{% endblock %}
